<div class="container my-2 rounded-3 p-0" style="border: 1px solid rgb(247, 245, 245);">
    <form class=" bg-white px-2 mt-2" action="">

   <div class="container my-3 p-0">
    <div data-mdb-input-init class="form-outline mb-4 pt-3">
        <label class="form-label" for="form6Example7">Enter the question</label>
        <textarea class="form-control" id="form6Example7" rows="2"></textarea>
      </div>
   </div>

   <div class="form-check mt-2 rounded-3 container "  style="margin-left:2px;border: 1px solid gainsboro;">
    <div data-mdb-input-init class="form-outline my-2 ">
        <label class="form-label" for="form6Example7">Enter the answers</label>
<br>
<div class="btn-group">
    <input type="radio" class="btn-check" name="options" id="option1" [(ngModel)]="selectedOption" value="false" autocomplete="off" checked />
    <label class="btn btn-danger" for="option1" data-mdb-ripple-init>False</label>
  
    <input type="radio" class="btn-check" name="options" id="option2" [(ngModel)]="selectedOption" value="true" autocomplete="off" />
    <label class="btn btn-success" for="option2" data-mdb-ripple-init>True</label>
  </div>
  
    </div>
</div>
<div class="text-end my-5">
  <div class="text-end mt-5">
    <a type="submit" class="btn btn-primary mx-2">Save Question</a>
        <a type="submit" class="btn btn-primary" (click)="back()">Back</a>
  </div>
  </div>
   </form>
   </div>
   