<section id="team" class="pb-5">
    <div class="container ">

        <div class="row">
            <!-- Team member -->
            <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    
                                    <h4 class="card-title">Exam 1</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                               
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Exam 1</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a (click)="onEnterClick()" class="p-2 btn-primary mt-4 rounded-2 " style="font-size: 20px; width: 30%; height: 40%; cursor: pointer;"> 
                                        enter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                   
                                    <h4 class="card-title">Exam 2</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Exam 2</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a (click)="onEnterClick()" class="p-2 btn-primary mt-4 rounded-2" style="font-size: 20px; width: 30%; height: 40%; cursor: pointer;"> 
                                        enter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                   
                                    <h4 class="card-title">Exam 3</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Exam 3</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a (click)="onEnterClick()" class="p-2 btn-primary mt-4 rounded-2" style="font-size: 20px; width: 30%; height: 40%; cursor: pointer;"> 
                                        enter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
          
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                   
                                    <h4 class="card-title">Exam 4</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Exam 4</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a (click)="onEnterClick()" class="p-2 btn-primary mt-4 rounded-2" style="font-size: 20px; width: 30%; height: 40%; cursor: pointer;"> 
                                        enter
                                    </a>                            
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    
                                    <h4 class="card-title">Exam 5</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                              
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Exam 5</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a (click)="onEnterClick()" type="button" class="p-2 btn btn-primary mt-4 rounded-2" style="font-size: 20px; width: 30%; height: 40%; cursor: pointer;"> 
                                            enter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
        </div>
    </div>
</section>
