<div class="container my-1 rounded-3 p-0" style="border: 1px solid rgb(247, 245, 245);">
    <form class=" bg-white px-2 mt-2  " action="">

   <div class="container my-3 px-1">
    <div data-mdb-input-init class="form-outline mb-4 pt-2">
        <label class="form-label" for="form6Example7"> Enter the question</label>
        <textarea class="form-control" id="form6Example7" rows="5"></textarea>
      </div>
   </div>
   <div class="container mt-4 pt-3 rounded-3" style="border: 1px solid gainsboro;">
    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example7">Enter the Answers</label>
    
      <!-- Add the initial row -->
      <div class="d-flex">
        <div class="col-10">
          <div class="d-flex">
            <div class="form-outline col-9">
              <textarea class="form-control mt-3" rows="1" style="width: 80%;"></textarea>
            </div>
            <div class="col-3 row p-0 mt-3">
              <div class="col-2 p-0 mt-1">
              </div>
              <div class="col-10">
                <button type="button" class="btn btn-primary" (click)="addRow()">
                  <i class="fa fa-plus" style="font-size:17px"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Additional textareas -->
      <div class="additional-textareas">
        <div *ngFor="let row of rows; let i = index" class="form-outline d-flex align-items-center" data-mdb-input-init>
          <div class="col-10">
            <div class="d-flex">
              <div class="form-outline col-9">
                <textarea class="form-control mt-3" rows="1" style="width: 80%;"></textarea>
              </div>
              <div class="col-3 row p-0 mt-3">
                <div class="col-2 p-0 mt-1">
                  <p class="mx-1">{{ i + 1 }}</p>
                </div>
                <div class="col-10">
                  <button type="button" class="btn btn-danger ml-2" (click)="removeRow(i)">
                    <i class="fa fa-minus" style="font-size:17px"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    </div>
    <div class="text-end my-5">
      <div class="text-end mt-5">
        <a type="submit" class="btn btn-primary mx-2">Save Question</a>
        <a type="submit" class="btn btn-primary" (click)="back()">Back</a>
      </div>
      </div>
   </form>
   </div>