
<!-- ====== registration Start ====== -->
<section class="ud-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-login-wrapper">
                    <div class="ud-login-logo">
                        <img src="assets/images/EGLogo.jpg" alt="logo" />
                    </div>
                    <form class="ud-login-form">
                        <div class="ud-form-group">
                            <input type="text" name="username" placeholder="Username" />
                        </div>
                        <div class="ud-form-group">
                            <input type="password" name="password" placeholder="Enter Password" />
                        </div>
                        <div class="ud-form-group">
                            <input type="password" name="password" placeholder="ReType Password" />
                        </div>
                        <div class="ud-form-group">
                            <select class="form-select form-select-lg mb-3">
                                <option value="Student" selected>Student</option>
                                <option value="Instructor">Instructor</option>
                            </select>
                        </div>
                        <div class="ud-form-group">
                            <a type="submit" class="ud-main-btn w-100" routerLink="/login">Register</a>
                        </div>
                    </form>

                    <!-- <div class="ud-socials-connect">
                        <p>Register With</p>

                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="facebook">
                                    <i class="lni lni-facebook-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="twitter">
                                    <i class="lni lni-twitter-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="google">
                                    <i class="lni lni-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->

                    <p class="signup-option">
                        Already Have An Account? <a routerLink="/login"> Log In </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== registration End ====== -->
